@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Event Logs</h2>

<div ng-app="EventLog" ng-controller="EventLogCtrl">
    <button class="btn btn-primary" ng-click="fakeEmit()">Fake Emit</button>
<table class="table table-hover">
    <tr>
        <td>
            <strong>UAV ID</strong>
        </td>
        <td>
            <strong>UAV Callsign</strong>
        </td>
        <td>
            <strong>Message</strong>
        </td>
        <td>
            <strong>Operator</strong>
        </td>
        <td>
            <strong>Time</strong>
        </td>
    </tr>
    <tr ng-repeat="evt in events" ng-style="getRowStyle(evt.criticality)">
        <td>
            {{evt.uav_id}}
        </td>
        <td>
            {{evt.uav_callsign}}
        </td>
        <td>
            <span ng-show="evt.criticality == 'warning'" class="glyphicon glyphicon-warning-sign" style="color:black;background-color:yellow;"></span>
            {{evt.message}}
        </td>
        <td>
            {{evt.operator_screen_name}}
        </td>
        <td>
            {{evt.create_date}}
        </td>
    </tr>
</table>
    </div>

@*<script src="~/Views/EventLog/eventlog.js"></script>*@
