@import url(http://fonts.googleapis.com/css?family=Arvo);

* {
    font-family: 'Arvo', sans-serif;
}

html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.right-buttons {
    right: 1px;
    padding-right: 5px;
    width: 500px;
    height: 50px;
    top: 10px;
    position: fixed;
    border: none;
}

.left-buttons {
    left: 40px;
    width: 200px;
    height: 80px;
    top: 35px;
    position: fixed;
}

#start {
    background-color: white;
    font-size: 12px;
    cursor: pointer;
    width: 55px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    float: right;
}

#stop {
    background-color: white;
    font-size: 12px;
    width: 55px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    float: right;
    margin: 10px 0 0 0;
}

.labels {
    color: blue;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 60px;
}

#infobox {
    border: 1px solid black;
    margin-top: 8px;
    background: #333;
    color: #FFF;
    font-size: 10px;
    padding: .5em 2em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 1px;
}

#infoboxAlert {
    border: 1px solid red;
    height: 40px;
    background: #333;
    color: #FFF;
    padding: 4px 0px 15px 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 1px;
}

#infoboxAlert p {
        color: #ff0000;
        margin: 0 1px;
        font-weight: bold;
        font-size: 25px;
    }

#panel {
    width: 200px;
    font-size: 13px;
    float: right;
}

#color-palette {
    clear: both;
}

.color-button {
    width: 14px;
    height: 14px;
    font-size: 0;
    margin: 2px;
    margin-left: 5px;
    float: left;
    cursor: pointer;
}

#delete-button {
    margin-top: 10px;
    background-color: white;
    font-size: 12px;
    cursor: pointer;
    width: 55px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    float: left;
}

#delete-all-button {
    margin-top: 10px;
    background-color: white;
    font-size: 12px;
    cursor: pointer;
    width: 55px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-left: 10px;
}

#base {
    background-color: #261287;
    color: white;
    font-size: 14px;
    width: auto;
    height: 30px;
    cursor: pointer;
    border:solid 1px white;
    float: right;
    margin: 0;
    font-weight: bold;
    border-radius: 3px;
    border-right: none;
}

#base:hover {
    background-color: #3239ae;
    transition: .2s;
    color: #cecbcb;
}

#filteruav {
    background-color: #261287;
    color: white;
    font-size: 14px;
    width: auto;
    height: 30px;
    cursor: pointer;
    border:solid 1px white;
    float: right;
    margin: 0;
    font-weight: bold;
    border-radius: 3px;
    border-right: none;
}

#filteruav:hover {
    background-color: #3239ae;
    transition: .2s;
    color: #cecbcb;
}

#goWaypoint {
    background-color: #261287;
    color: white;
    font-size: 14px;
    width: auto;
    height: 30px;
    cursor: pointer;
    border:solid 1px white;
    float: right;
    margin: 0;
    font-weight: bold;
    border-radius: 3px;
}

#goWaypoint:hover {
    background-color: #3239ae;
    transition: .2s;
    color: #cecbcb;
}




/*///////////////////////////////Event Log//////////////////////////////////*/
#goevent {
    background-color: #261287;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: auto;
    height: 30px;
    cursor: pointer;
    border:solid 1px white;
    float: right;
    margin: 0px;
    border-right: none;
    border-radius: 3px;
    position: relative;
    
}

#goevent:hover {
    background-color: #3239ae;
    transition: .2s;
    color: #cecbcb;
}

.nav-counter {
  position: absolute;
  top: -10px;
  right: 0px;
  min-width: 20px;
  height: 20px;
  line-height: 5px;
  padding-top: 6px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: red;
  border: 2px solid white;
  border-radius: 500px;
}


.eventlog {
    right: 6px;
    width: 400px;
    height: 400px;
    top: 50px;
    position: fixed;
    border: 10px solid #1a096d;
    display: none;
    background-color: white;
    border-radius: 8px;
    transition: .2s;
    opacity: 0.8;
}

.eventlog:before {
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    top: -38px;
    right: 170px;
    border: 15px solid #fff;
    border-color: transparent transparent #261287 transparent;
}

.event_table_div {
    height: 380px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.eventlog_table {
    width: 100%;
    font-size: 12px;
}

.event_table_div::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
    border-right: red;
}

.event_table_div::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.event_table_div::-webkit-scrollbar-thumb
{
	background-color: #152bd3;	
    border-radius: 8px;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
}


#criticality_color {
    width: 5%;
    height: 60px;
}

#event_info {
    padding-left: 5px;
    width: 75%; 
    line-height: 100%;
    height: 60px;
    /*border-right: 1px solid black;*/
}

#table_button {
    width: 15%; 
    font-size: 10px;
    padding-left: 3px;
    padding-right: 3px;
    height: 60px;
}



#event_button_accept {
    background-color: #46d914;
    color: white;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    border: none;
    width: 100%;
    border-top:2px solid transparent;
    /*margin-bottom: 1px;*/
    margin-top: 2px;
}

#event_button_decline {
    background-color: #ee3f3f;
    color: white;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    border: none;
    width: 100%;
    border-top:2px solid transparent;
    margin-top: 2px;
    margin-bottom: 1px;
}

#delete_row {
    position: absolute;
    font-size: 1em;
    cursor: pointer;
}


#CommPopPlaceHolder {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;		
    background-color: rgba(185, 185, 185, 0.57);
    overflow: auto;
}

#notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    display: none;
}

#waypoint_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    display: none;
}

#gotouavdiv{
    position: fixed;
    top: 80%;
    left: .5%;
    display: block;
    float: left;
    margin:auto;
    width: 170px;
    height: 60px;
}

#enter_callsign{
    max-width: 114px;
    min-width: 70px;
    max-height: 27px;
    padding: 10px 10px;
    display: block;
    float: left;
    margin:auto;
}

#gotouavbtn{
    margin-left: 2px;
}

#lockuavbtn{
    margin-top: 2px;
}

.commandWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    display: none;
}

.UAVId {
}

.sendBtn {
    position: relative;
    float: left;
    border-radius: 5px;
    cursor: pointer;
}

.clear {
    position: relative;
    float: left;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.closeBtn {
    position: absolute;
    font-size: 1.5em;
    right: 11px;
    top: 10px;
    cursor: pointer;
}

#clickToGoBtn {
    margin-left: 25px;
}

  img[src="http://www.google.com/intl/en_us/mapfiles/close.gif"] {
        display: none;
}

/*/////////////////////////////////////////////////////////////////////*/
/* USER INTERFACE PROMPT TO ACCEPT OR REJECT UAV ASSIGNMENT ON MAP*/
#RR_outer {
    border: none;
    position: fixed;
    margin: auto;
    width: 300px;
    height: 170px;
    right: 5px;
    bottom: 5px;
    overflow: auto;
    padding: 0px;
    float: right;
}

#RoundRobin_popup {
    position: fixed;
    width: 300px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    display: none;
    font-size: 15px;

    -webkit-animation-name: RR;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

/* bounce-in*/
@-webkit-keyframes RR {
    0% {opacity: 0; -webkit-transform: scale3d(.9, .9, .9);}
   20% {opacity: 0.8; -webkit-transform: scale3d(1.1, 1.1, 1.1);}
   40% {-webkit-transform: scale3d(.9, .9, .9);}
   60% {opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03);}
   80% {-webkit-transform: scale3d(.97, .97, .97);}
  100% {opacity: 1; -webkit-transform: scale3d(1, 1, 1);}

  /*fade in up*/
    /*0% {opacity: 0; -webkit-transform: translate3d(0, 100%, 0);}
    100% {opacity: 1; -webkit-transform: none;}*/
}

#RR_button_accept {
    background-color: #46d914;
    color: white;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    border: none;
    width: 48%;
    float: left;
    border-top:2px solid transparent;
    margin-left: 0;
    margin-right: 1%;
}

#RR_button_decline {
    background-color: #ee3f3f;
    color: white;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    border: none;
    width: 48%;
    float: right;
    border-top:2px solid transparent;
    margin-left: 0;
    margin-right: 1%;
}

#RR_button_accept:hover {
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(37, 152, 240, .8);
    background-color: #7CF259;
}

#RR_button_decline:hover {
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(37, 152, 240, .8);
    background-color: #FA8383;
}

#RR_close {
    position: absolute;
    font-size: 1.5em;
    right: 11px;
    top: 10px;
    cursor: pointer;
}

#RR_outer_result {
    border: 5px solid black;
    position: fixed;
    margin: auto;
    width: 40%;
    height: auto;
    bottom: 10%;
    left: 30%;
    background-color: rgba(185, 185, 185, 0.57);
    overflow: auto;
    border-radius: 8px;
    display:none;
    
    -webkit-animation-name: RR_result;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

#RR_choice_p {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

@-webkit-keyframes RR_result {
    0% {opacity: 1;}
  100% {opacity: 0;-webkit-transform: translate3d(0, 100%, 0)}
}
