@import url(http://fonts.googleapis.com/css?family=Arvo);

* {
    font-family: 'Arvo', sans-serif;
}

.outer {
    display:inline-block;
    width:100%;
}
.schedule {
    width:98%;
}
#sched {
    width:100%;
}
#row {
    width:100%;
}
.maintenance{
    width:98%;
}
#maint {
    width:100%;
}
table {
    border: 1px solid black;
    margin-bottom: 10px;
}
tr {
    border: 1px solid grey;
    margin-bottom: 8px;
}

.schedule th {
    background-color: #0a074a;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    font-size: 15px;
}
.schedule td {
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
}

.schedule td:hover {
    cursor: pointer;
}

.maintenance th {
    background-color: #0a074a;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    font-size: 15px;
}
.maintenance td {
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
}

.maintenance td:hover {
    cursor: pointer;
}