.outer {
    display:inline-block;
    width: 100%
}
.top {
    display: inline-table;
    width:100%
}

.bottom {
    display:inline-table;
    float:left;
    width:100%;
}
#ass {
    float:left;
    width:49%;
}
.assigned {
    width:100%;
}

#unass {
    float:right;
    width:49%;
}
.unassigned {
    width:100%;
}

.unassigned td:hover {
    cursor: pointer;
}

#operator {
    display:inline-table;
    float:left;
    width:49%;
}
.op {
    width:100%;
}
#curr {
    float:left;
    width:98%;
}
.curr_emergen {
    width:100%;
}
td {
    padding: 5px;
}

table {
    border: 1px solid black;
}
th {
    border-bottom: 1px solid black;
}
tr {
    border-bottom: 1px solid grey;
}
.assigned th {
    background-color: #213157 ;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    font-size: 15px;
}
.assigned td {
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
}
.assigned tr {
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.unassigned th {
    background-color: #213157 ;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    font-size: 15px;
}
.unassigned td {
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
}
.unassigned tr {
    border: none;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.op th {
    background-color: #213157 ;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    font-size: 15px;
}
.op td {
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
}
.op tr {
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.curr_emergen th {
    background-color: #213157 ;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    font-size: 15px;
}
.curr_emergen td {
    border: 1px solid white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
}
.curr_emergen tr {
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}


