@model IEnumerable<NEST_App.Models.Schedule>
@{
    //Layout ="~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
@{
    ViewBag.Title = "Index";
}

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
    </div>
@foreach (var sched in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => sched.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => sched.Missions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => sched.Maintenances)
        </td>
    </tr>
}


