@model NEST_App.Models.Schedule
@{
    //Layout ="~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
@{
    ViewBag.Title = "Index";
}

<div style="background-color:gray; color:white; margin: 20px; padding:20px;">
    <h1>UAV Schedule</h1>
    <table style="width:40%">
        <tr>
            <td>011S</td>
            <td>A 11:30</td>
            <td>To Headquarters</td>
            <td>11:58</td>
            <td>11:57</td>
            <td>DF3H670</td>
        </tr>
    </table>
</div>
<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>

