@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Simulation";
}

<h2>Simulation</h2>

<div>
    <button type="button" class="btn btn-default disabled" id="start">Start sim</button>
    <button type="button" class="btn btn-default disabled" id="stop">Stop sim</button>
</div>


@{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/simulation.js");
}