@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Simulation";
}

<h2>Simulation</h2>

<div>
    <button type="button" class="btn btn-default disabled" id="start">Start sim</button>
    <button type="button" class="btn btn-default disabled" id="stop">Stop sim</button>
</div>
<div>
    <h4>
        Send command
    </h4>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="UAVIds" data-toggle="dropdown" aria-expanded="true">
            UAV ID <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-UAVIds" id="dropdown-UAVIds">
        </ul>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/sim");
}