@import url(http://fonts.googleapis.com/css?family=Arvo);

* {
    font-family: 'Arvo', sans-serif;
} 

    .map {
        height: 100%;
        width: 100%;
        border: none;
        margin: 0;
        padding: 0px;
    }

    #info {
        position: absolute;
        font-size: 0.7em;
        top: 10px;
        right: 10px;
        background-color: lightgrey;
        padding: 0px;
        height: 120px;
        width: 145px;
    }

        #info p {
            margin-top: -1px;
            margin-bottom: 2px;
        }

    #MapViews {
        width: 125px;
        height: 150px;
        padding-right: 0px;
        position: fixed;
        top: 10px;
        left: 10px;
        border: medium solid #000000;
        background-color: #FFFFFF;
    }

    .WindowTitle {
        font-weight: bold;
        border-bottom: thin solid #000000;
        font-size: large;
    }

    .WindowContent {
        padding-top: 5px;
    }

    #ViewsRadio {
    }

    #LayerFilter {
        position: fixed;
        top: 163px;
        border-style: solid;
        border-color: #000000;
        width: 125px;
        left: 10px;
        background-color: #FFFFFF;
    }

    .Tools {
    }

    #Tools {
        bottom: 10pt;
        left: 15px;
        height: 46px;
        float: left;
        margin-right: 10px;
        padding-right: 5px;
        top: auto;
        position: fixed;
    }

    .ToolIcon {
        margin-right: 5px;
    }

    #CommPopPlaceHolder {
        position: fixed;
        margin: auto;
        width: 100%;
        height: 100%;
        opacity: 0.95;
        top: 0;
        left: 0;
        display: none;		
        background-color: #313131;
        overflow:auto;
    }

    #CommPop {
        position: absolute; 
        left: 50%;
        top: 17%;
        margin-left: -248px;
    }

    #new_dest_popup {
        max-width: 345px;
        min-width: 250px;
        padding: 10px 50px;
        border: 2px solid gray;
        border-radius: 10px;
        background-color: white;
        overflow: hidden;
    }

    #submit {
        position: relative;
        float: left;
        margin-left: 37%;
        border-radius: 5px;
        cursor: pointer;
    }

    #reset {
        position: relative;
        float: left;
        margin-left: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    #close_button {
        position: absolute;
        width: 24px;
        right: -10px;
        top: -10px;
        cursor: pointer;
    }