@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p>
    We, the NEST team, are developing an operational center which will allow a limited number of controllers
    to manage a fleet of unmanned delivery aircraft. Currently, this is a problem without a solution, and we
    aim to fix that. Allowing the supervisor complete visibility over the operations while allowing them to
    efficiently manage these aircraft is a key priority. Ultimately, NEST is about delivering the product to
    those who need it most, and in a timely manner. Our team will continuously strive to guarantee the
    highest standards of safety for bystanders on the ground. This ranges from assuring that our health
    monitors are always accurate, to ensuring that fail-safes are in place to take the appropriate action
    should it be necessary.
</p>
