@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>



<address>
    <strong>Support:</strong>   <div><div class="avatar-frame"><img src='~/Content/img/sean_buckley.png' /></div><a href="mailto:sjb256@gmail.com">Sean Buckley</a></div>
       <div><div class="avatar-frame"><img src='~/Content/img/varatep_buranintu.png' /></div><a href="mailto:varatep@buranintu.com">Varatep Buranintu</a></div>
    <div><div class="avatar-frame"><img src='~/Content/img/dragos_guta.png' /></div><a href="mailto:dragossg@gmail.com">Dragos Guta</a></div>
           <div><div class="avatar-frame"><img src='~/Content/img/yun_kim.png' /></div><a href="mailto:bbobbo216@hotmail.com">Yun Kim</a></div>
           <div><div class="avatar-frame"><img src='~/Content/img/jeffrey_limbacher.jpeg' /></div><a href="mailto:jeffreylimbacher@gmail.com">Jeffrey Limbacher</a></div>
           <div><div class="avatar-frame"><img src='~/Content/img/pinar_sayim.png' /></div><a href="mailto:pinar.sayim.588@my.csun.edu">Pinar Sayim</a></div>
       <div><div class="avatar-frame"><img src='~/Content/img/david_wu.png' /></div><a href="mailto:david11629@gmail.com">David Wu</a></div>
    <strong>Management:</strong>   <a href="mailto:serl@csun.edu">SERL</a>
</address>
