@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>



<address>
    <strong>Support:</strong>   <a href="mailto:sjb256@gmail.com">Sean Buckley</a><br />
    <strong>Support:</strong>   <a href="mailto:varatep@buranintu.com">Varatep Buranintu</a><br />
    <strong>Support:</strong>   <a href="mailto:dragossg@gmail.com">Dragos Guta</a><br />
    <strong>Support:</strong>   <a href="mailto:bbobbo216@hotmail.com">Yun Kim</a><br />
    <strong>Support:</strong>   <a href="mailto:jeffreylimbacher@gmail.com">Jeffrey Limbacher</a><br />
    <strong>Support:</strong>   <a href="mailto:pinar.sayim.588@my.csun.edu">Pinar Sayim</a><br />
    <strong>Support:</strong>   <a href="mailto:david11629@gmail.com">David Wu</a><br />
    <strong>Management:</strong>   <a href="mailto:serl@csun.edu">SERL</a><br />
</address>