@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NEST</h1>
    <p><a href="../../Content/NEST_logo.png"></a></p>
    <p class="lead">
        Our goal for this project is to develop an operational center which will allow a limited number of controllers to manage a fleet of unmanned delivery aircraft.<br />
        The UAVs will be used to deliver a product to those who need it most, and in a timely manner, while NEST will collect and assemble information relevant to safely flying the vehicle in a way that can be viewed, monitored, and modified efficiently.<br />
    </p>
    <p><a href="~/Home/About" class="btn btn-primary btn-large">See our vision &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Scheduling</h2>
        <p>
            View and manage all UAV scheduling here, including missions, maintenance, and algorithm tweaking.
        </p>
        <p><a class="btn btn-default" href="">Connect me! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Simulation</h2>
        <p>Set a small fleet of virtual drones on missions, and view the relevant geolocation and drone info in the console.</p>
        <p><a class="btn btn-default" href="~/Sim/Index">Simulate! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>View the current mission area as well as all active drones in the area.</p>
        <p><a class="btn btn-default" href="~/Map/Overview">Go there now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Detailed List</h2>
        <p>A detailed list of UAV's to show status and detailed information for each one.</p>
        <p><a class="btn btn-default" href="~/UAVs/Index">View Mockup &raquo;</a></p>
    </div>
</div>